@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap");
@import "tailwindcss";


* {
  font-family: "IBM Plex Mono", monospace;
}

.font-serif {
  font-family: "Spectral", Georgia, serif;
}

body {
  margin: 0;
}