@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap");
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

* {
  font-family: "IBM Plex Mono", monospace;
}

.font-serif {
  font-family: "Spectral", Georgia, serif;
}

body {
  margin: 0;
}